* {
    padding: 0%;
    margin: 0%;
    font-family: 'Rakkas', 'cursive';
    font-weight: bold;
    font-size: x-large;
    text-shadow: 1px 1px black,
        -1px -1px black;
}

body {
    background-color: rgb(243, 179, 179);
    min-width: 400px;
}

header {
    line-height: 100px;

    width: 100%;
    background-image: linear-gradient(to right, rgb(131, 78, 78), rgb(204, 141, 141));
    background-color: blue;
    color: yellow;
}

header a {
    color: white;
}

hr {
    border: 3px double white;
    margin-bottom: 10px;
}

#MainDiv {
    display: flex;
    align-items: center;
    background-color: rgb(88, 32, 32);
    color: white;
    /* height: 80%; */
}

aside {
    padding-top: 15px;
    background-color: #c48b8b;
    color: black;
    height: 500;
}

main {
    width: 100%;
    text-align: center;
    /* float: left; */
    background-color: brown;
    color: yellow;

}

#myInfo {
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    background-color: rgb(239 180 180 / 72%);
    width: 30%;
    min-width: 200px;
}

#myInfo h1 {
    border-bottom: 2px solid blue;
    border-style: 1px;
}

footer {
    background-color: black;
    color: yellow;
}

nav {
    float: right;
    width: 75%;
    background-image: linear-gradient(to right, rgb(131, 78, 78), rgb(204, 141, 141));
    text-align: center;

}

nav a {

    display: inline-block !important;
    text-decoration-line: none;
    width: 100%;
    color: yellow;

}

nav a:hover {
    /* background-color: rgb(229, 229, 149); */
    background-color: #461515d1;
    /* color: rgb(235, 139, 139); */
    animation-name: textMove;
    animation-duration: 3s;
}

@keyframes textMove {




    50% {
        width: 110%;

    }

    100% {
        width: 100%;
    }
}

#logoX {
    float: left;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(to left, rgb(131, 78, 78), rgb(230, 211, 211));
}



#logoX span {
    margin-left: 5px;
    margin-right: 10px;
}

#logoImg {
    border-radius: 50%;
    width: 90px;
    border: 2px groove white;
    box-shadow: 3px 3px black;
}

#logoImg:hover {
    overflow: hidden;
    animation-name: logoMove;
    animation-duration: 4s;
}

@keyframes logoMove {
    0% {
        width: 25%;
    }

    25% {
        width: 28%;
    }

    50% {
        width: 20%;

    }

    100% {
        width: 25;
    }
}

#javaImg {
    width: 90%;
}

#javaImg:hover {
    width: 97%;
    transition-duration: 2s;
}



nav ul {
    display: flex;
    justify-content: space-around;
    width: auto
}

nav li {
    line-height: 100px;

    display: inline-block;
    /* margin: 10px; */
    width: 33% !important;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socialLink {
    border-bottom: 2px solid rgb(88, 32, 32);
    border-radius: 15%;
    margin-bottom: 15px;
}

.mySocial {
    margin: 10px;
    width: 40px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 7px;

}

.mySocial:hover {
    width: 50px;
    transition-duration: 2s;
}

.couresLink {
    width: 30%;
    /* margin: 1%; */
    /* background-color: white; */


}

.couresImg {
    width: 100%;
    border: 2px solid rgb(243, 87, 87);
    border-radius: 10%;
    margin: 20px;
    filter: opacity(50%) grayscale();

    /* transition-delay: 2s; */
}

.couresImg:hover {
    filter: opacity(100%);
    width: 105%;
    transition-duration: 1s;

}

.crs {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* تجهيز مقاسات الشاشات*/

@media only screen and (max-width:1259px) {

    #logoImg {
        width: 50px;
    }

    #logoTxt {
        font-size: 70%;
        transition-duration: 2px;
    }


}

@media only screen and (max-width:855px) {
    header {
        line-height: 50px;
        /* display: flex; */
        /* align-items: center; */
    }

    #logoX,
    nav {

        padding-top: 10px;
        flex-direction: column;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #logoX {
        width: 40%;
    }

    nav {
        width: 100%;
    }
}

@media (max-width:830px) {

    #MainDiv {
        flex-direction: column;
    }



    #myInfo,
    aside {
        margin: 20px;

    }

}

@media only screen and (max-width:552px) {
    nav ul {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    nav li {
        line-height: 32px;
        margin: 10px;
        width: 100% !important;
    }

    nav a {
        width: 100%;
    }
}